/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .bg_primary-color {
   background-color: #FFFFFF;
 }

 .primary-color {
   background-color: #FFFFFF;
 }

 .bg_secondary-color {
   background-color: #293241;
 }

 .secondary-color {
   color: #293241;
 }

 .custom-button.btn {
   background-color: #293241;
   color: #FFF;
   border: none;
 }

 .custom-button.btn:hover {
   color: #FFF !important;
   border: none;
 }

 .hero {
   width: 100vw;
   height: 50vh;
 }

 .hero img {
   object-fit: cover;
   object-position: top;
   height: 100%;
   width: 100%;
 }

 .overlay {
   height: 100%;
   width: 100%;
   opacity: 0.4;
 }


/* Navbar design: TO BE REPLACE */
 .App-nav {
  display: flex;
  justify-content: space-evenly;
}

.App-nav li {
  padding: 10px;
}

.App-nav li a {
  text-decoration: none;
}

.App-nav li.active {
  background-color: #626C80;
}

.App-nav li:hover {
  background-color: #626C80;
  cursor: pointer;
}

.App-content {
  padding: 10px;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

ul {
  list-style-type: none;
}
